[Unit]
Description=run droidian performance tweaks
Requires=lxc@android.service
After=android_boot_completed.service

[Service]
Type=oneshot
ExecStart=/usr/bin/droidian-perf.sh

[Install]
WantedBy=multi-user.target
