[Unit]
Description=Hacks that have to be applied on boot for vayu
Requires=lxc@android.service

[Service]
Type=oneshot
Environment=LAUNCHED_BY_SYSTEMD=1
ExecStartPre=/bin/sleep 8
ExecStart=/usr/bin/vayu-postboot.sh
ExecStartPost=/usr/bin/camera-hal-force

[Install]
WantedBy=multi-user.target
