Source: adaptation-droidian-vayu
Maintainer: vacuumbeef
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3

Package: adaptation-droidian-vayu
Architecture: all
Depends: ${misc:Depends},
         adaptation-hybris-api30-phone,
         adaptation-vayu-configs,
	 wlr-randr,
Description: adapatation-vayu-meta
 vayu api30 adaptation metapackage

Package: adaptation-vayu-configs
Architecture: all
Depends: ${misc:Depends},
Description: vayu's adaptation configs
