Source: adaptation-droidian-vayu
Maintainer: vacuumbeef
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3

Package: adaptation-droidian-vayu
Architecture: all
Depends: ${misc:Depends},
         adaptation-hybris-api28-phone,
         adaptation-lavender-configs,
         wlr-randr,
Description: adapatation-vayu-meta
 lavender api28 adaptation metapackage

Package: adaptation-vayu-configs
Architecture: all
Depends: ${misc:Depends},
Description: vayu's adaptation configs
