Package: adaptation-droidian-vayu
Version: 0.1+2
Architecture: all
Maintainer: vacuumbeef
Installed-Size: 9
Depends: adaptation-hybris-api30-phone, adaptation-vayu-configs, wlr-randr
Section: metapackages
Priority: optional
Description: adapatation-vayu-meta
 vayu api30 adaptation metapackage
